kokoro-onnx
sounddevice
numpy
pystray
Pillow
keyboard
langdetect
uiautomation
mss
winrt-Windows.Media.Ocr
winrt-Windows.Graphics.Imaging
winrt-Windows.Storage.Streams
winrt-Windows.Foundation
winrt-Windows.Globalization
